<!DOCTYPE html>
<!-- this is my comment section
it is a multiple line comment-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
</head>
<body>
<h1>NAME</h1>
<span>ARUNA</span>
<h2>Computer #</h2>
<span>Computer 17</span>
<h3> place i live</h3>
<span> MaryLand</span>
<h4>My favourite movie</h4>
<span>Home Alone</span>
<h5> My Favourite quote</h5>
<span>Bless you</span>
<h6>Anything ELSE</h6>
<span> Good </span>

<div><img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDkPOBexx_gROL3fThcdYZVDopmPcI_GlNq98owWooUSst7K9snA></div>
<a target="_Blank" href="http://www.montgomerycollege.edu"> This is the link to the MC Page</a></br>
<ul>
    <li>This is an unordered list</li>
    <li>This is an another unordered list</li>
</ul>
<ol>
    <li>This is an ordered list</li>
    <li>This is an ordered list</li>
</ol>
</body>
</html>