<!DOCTYPE html>
<!-- this is my comment section
it is a multiple line comment-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



</head>
<body>
<div class = "container">
    <div class="well">
        <a class="btn-btn-button" href="http://www.montgomerycollege.edu">  MC Page</a>
        <a class=" btn-btn-success"></a>
<h1>NAME</h1>
<span>ARUNA</span>
<h2>Computer #</h2>
<span>Computer 17</span>
<h3> place i live</h3>
<span> MaryLand</span>
<h4>My favourite movie</h4>
<span>Home Alone</span>
<h5> My Favourite quote</h5>
<span>Bless you</span>
<h6>Anything ELSE</h6>
<span> Good </span>

    <div class = "well col-md-3"><img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDkPOBexx_gROL3fThcdYZVDopmPcI_GlNq98owWooUSst7K9snA></div>
        <div class = "well col-md-3" >

<ul>
    <li>This is an unordered list</li>
    <li>This is an another unordered list</li>
</ul>
<ol>
    <li>This is an ordered list</li>
    <li>This is an ordered list</li>
</ol>
</div>
    </div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>